---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "About Me",
	title: "About",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-12">About</h1>
	<div class="prose prose-sm prose-cactus max-w-none">
		<p>
			Hi, my name is Jacob. I'm currently a fourth year CS student at UCSD, and later this year
			I'll turn into a Linux Engineer.
		</p>
		<p>Here are some fun facts about me:</p>
		<ul>
			<li>I use NixOS for everything btw</li>
			<li>I aspire to become an artisanal Goose farmer</li>
			<li>I play Tetris, Minecraft, and Satisfactory in my free time, among other things</li>
			<li>I listen to rhythm game music, but seldom play them</li>
		</ul>
	</div>
</PageLayout>
